body {
    margin: 0;
    background: white;
    font-family: 'Work Sans';

}

.container {
    width: 80%;
    margin: 0 auto;

}

header {
    background: #D7EADF;

}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
    
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    

}

nav li {
    display: inline-block;
    margin-left: 60px;
    padding-top: 30px;

    position: relative;


}

.navlink {
    color: #0D4C38;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    
}

.navlink:hover{
    color: #295547;
    text-decoration: underline;
    
}

.navlink::before {
    content: '';
    display: block;
    height: 5px;
    
    background-color: #295547;

    position: absolute;
    width: 0%;
    top: 0;

    transition: all ease-in-out 200ms;
}

.navlink:hover::before{
    width: 100%;
    top: 0;
}




/* -- SEARCH BOX CSS -- */


button {
    background: none;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
}


.search-box {
    position: relative;
    max-width: 250px;
}

.search-box, 
.search-box__input {
    font-family: Work Sans;
    font-weight: 400;
}

.search-box, 
.search-box__input * {
    transition:  background 0.15s, box-shadow 0.15s;
}

.search-box:focus-within {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}




.search-box__input {
    border-radius: 20px;
    
}


.search-box__input-container {
    border-radius: 5px;
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    background: #FFFFFF;
}

.search-box__input {
    flex-grow: 1;
    border: none;
    outline: none;
    width:100%;
    padding: 0 6px;
    background: transparent;
}



